body {
  background-color: $bg;
  color: $fg;
  font-family: $fontDefault;
  .title {
    a {
      text-decoration: none;
    }
  }

  .main-container {
    padding-top: 1.5rem;
    margin: auto;
    margin: auto;
    max-width: 40vw;

    @media only screen and (max-width: 1400px) {
      max-width: 70vw;
    }

    @media only screen and (max-width: 750px) {
      max-width: 90vw;
    }
  }

  @media only screen and (max-width: 750px) {
    font-size: .8rem;
  }
}

.dim {
  color: $dim;
  a {
    color: $dimurl;
  }
}

p {
  font-family: $fontDefault;
  line-height: 1.4rem;
}

hr {
  border-color: $accent4;
  border-width: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontHeader;
}

h1 {
  font-size: 1.5rem;
  margin: 1.5rem 0 1.3rem 0;
  @media only screen and (max-width: 750px) {
    font-size: 1.4rem;
  }
}

h2 {
  font-size: 1.4rem;
  margin: 1.35rem 0 1.15rem 0;
  @media only screen and (max-width: 750px) {
    font-size: 1.3rem;
  }
}

h3 {
  font-size: 1.3rem;
  margin: 1.2rem 0 1rem 0;
  @media only screen and (max-width: 750px) {
    font-size: 1.2rem;
  }
}

h4 {
  font-size: 1.2rem;
  margin: 1.05rem 0 .85rem 0;
  @media only screen and (max-width: 750px) {
    font-size: 1.1rem;
  }
}

h5 {
  font-size: 1.1rem;
  margin: 1.05rem 0 .85rem 0;
  @media only screen and (max-width: 750px) {
    font-size: 1.05rem;
  }
}

h6 {
  font-size: 1rem;
  margin: .75rem 0 .55rem 0;
}

b,
strong {
  font-weight: 700;
}

a {
  font-weight: 500;
  color: $url;
  text-decoration: none;
  transition: all 0.25s ease-in;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  code {
    color: $url !important;
    text-decoration: underline !important;
  }
}

table {
  margin: 2rem 0;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: .6rem;
  border: 1px solid white;
}

pre {
  display: block;
  font-family: $fontCode;
  line-height: 1rem;
  overflow-x: auto;
  margin: 0;
  padding: .9rem;
  background-color: $code !important;

  code {
    display: inline-block;
    background-color: inherit;
  }
}

code {
  font-size: .8rem;
  font-family: $fontCode;
  font-weight: 400;
  color: $fg;
  border-radius: 0.3rem;
  padding: 0 0.4rem;
}

blockquote {
  background: $accent4;
  padding: .4rem 1rem .4rem 1rem;
  margin: 2rem;
  font-weight: 400;
}

.footnotes {
  li {
    margin: 0;
  }
  p {
    display: inline-block;
    margin: 0;
  }
}

.footnote-ref {
  font-size: .8rem;
  text-decoration: none;
  padding: 0.3rem;
  color: $footnote-ref;
  &:hover {
    font-weight: bold;
  }
}

.footnote-backref {
  text-decoration: none;
  padding: 0.3rem;
  color: $footnote-backref;
  &:hover {
    font-weight: bold;
  }
}

ul, ol {
  list-style-position: outside !important;
  li {
    line-height: 1.5rem;
  }
}

.content-container {
  p {
    text-align: justify;
  }
  li {
    list-style-type: disc;
  }
}

.katex-display {
  font-size: 1.3rem;
}

figure {
  figcaption {
    text-align: center;
  }
}


.meta-list {
  display: inline-block;
  .meta-item {
    @media only screen and (max-width: 400px) {
      height: 1rem;
    }
    padding: .1rem 0;
    .mkey {
      display: inline;
    }
  }
}

.separator {
  padding: 0 0.1rem;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.vim-caret{
  animation:vimCaret 1s linear infinite
}

@keyframes vimCaret{
  0% {
    background-color: transparent;
  }
  49% {
    background-color: transparent;
  }
  50%{
    background-color: $vimcaret;
  }
  100%{
    background-color: $vimcaret;
  }
}

