.list {
  .book {
    border-left: 4px solid $overlay1;
    padding: 1rem 0 1rem 1rem;
    margin: 1.5rem 0;

    background: linear-gradient(90deg, $base 0%, $mantle 75%, $bg 100%);
    display: flex;
    flex-direction: row;

    .cover {
      align-self: center;
      @media only screen and (max-width: 600px) {
        display: none;
      }

      align-items: center;
      max-width: 20%;
      min-width: 20%;
    }
    .info {
      padding: .4rem 1rem 0 1rem;
      display: flex;
      flex-direction: column;
      ul {
        list-style: none;
      }

      .head {
        margin: 0 0 1rem 0;
        .title {
          margin: 0 0 .3rem 0;
        }
      }

      ul {
        padding: 0;
        li {
          margin: .1rem;
          span {
            color: $subtext0;
            display: inline;
          }
        }
      }
      .summary {
        display: inline-block;
        font-family: $fontDefault;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

.pg-book {
  header {
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 300px) {
      flex-direction: column;
    }

    .cover {
      align-self: center;
      max-width: 8.5rem;
      min-width: 8.5rem;
      @media only screen and (max-width: 400px) {
        max-width: 6rem;
        min-width: 6rem;
      }
    }

    .info {
      padding: 0 1rem;
      align-self: center;

      @media only screen and (max-width: 300px) {
        padding: 1rem 0 0 0;
      }

      .meta-item {
        padding: .1rem 0;
        height: 1rem;
      }

      .head {
        margin: 0 0 1rem 0;

        @media only screen and (max-width: 400px) {
          margin: 0 0 .4rem 0;
        }

        .title {
          margin: 0 0 .3rem 0;
        }

      }
    }
  }
}

.authors {
  .author {
    display: inline !important;
    font-weight: bold;

    &:not(:last-child):after {
      content: ", ";
      font-weight: normal;
    }
  }
}


.bad-review {
    color: $red !important;
}

.medium-review {
    color: $peach !important;
}
.good-review {
    color: $green !important;
}
