.donation {
  .content {
    margin-bottom: 3rem;
  }
  .payopts {
    .payment-list {
      .payment-item {
        .payment-name, .payment-link {
          display: inline-block;
          font-size: 1.1rem;
          padding-bottom: .4rem;
        }
        font-size: 1rem;

        .payment-address {
          @media only screen and (max-width: 750px) {
            float: none;
            display: block;
          }
          float: right;
          color: $accent2;
          line-break: anywhere;
        }
      }
    }
  }
}

