$col0: #010101;
$col1: #800000;
$col2: #008000;
$col3: #808000;
$col4: #000080;
$col5: #800080;
$col6: #008080;
$col7: #c0c0c0;
$col8: #808080;
$col9: #dd0000;
$col10: #00dd00;
$col11: #dddd00;
$col12: #0000dd;
$col13: #dd00dd;
$col14: #00dddd;
$col15: #ffffff;

$bg:      $col0;
$fg:      $col15;
$accent1: $col10;
$accent2: $col2;
$accent3: $col8;
$accent4: #404040;

// colors
$vimcaret: $accent4;
$url: $accent1;
$footnote-ref: $accent2;
$footnote-backref: $accent2;
$dim: $accent3;
$dimurl: $accent2;
$code: #101010;

// Font
$fontDefault: sans-serif;
$fontHeader:  sans-serif;
$fontCode:    monospace;
