{{ define "title" }}
  {{ if eq .Kind "term" }}
    {{ i18n .Data.Plural 1 | title }}
    {{ print ": " }}
  {{ end }}
  {{ .Title | title }} | {{ .Site.Params.URL }}
{{ end }}
{{ define "content" }}
  <section class="pg-list">
    <h1 class="title">
      {{ if eq .Kind "term" }}
        <a class="title-link" href="/{{ .Data.Plural | lower }}">
          {{ (i18n (.Data.Plural | lower) 1 | default .Data.Plural) | title }}{{ print ": " }}
        </a>
      {{ end }}
      {{ .Title | title }}
    </h1>
    {{ with .Content }}
    <div class="content">
      {{ . }}
    </div>
    {{end}}
    <ul class="list">
      {{ range .Pages }}
        <li class="list-item">
          <span class="date">{{ .Date | time.Format .Site.Params.dateFormat }}</span>
          <span class="separator">–</span>
          <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
