{{ if .Site.Menus.main }}
<nav class="nav">
  {{ $author := .Site.Params.header | default .Site.Params.author }}
  <div class="author">[<a href="/">{{ substr $author 0 -1 }}<span class="vim-caret">{{ substr $author -1 1 }}</span></a>]</div>
  <ul class="nav-list">
    {{ $url := .RelPermalink }}
    {{ with .Site.Menus.main }}
      {{ range sort . }}
        <li class="nav-item {{if eq ($url|lower|relURL) (.URL|lower|relURL) }}active{{end}}">
          <a class="nav-link"
            href="{{ index (apply (slice .URL) (.Params.urlFunc | default "relLangURL") ".") 0 }}">{{ .Name }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
{{ end }}

