{{ define "title" }}
  {{ .Title | title }} | {{ .Site.Params.URL }}
{{ end }}

{{ define "content" }}
<article class="pg-book">
  <header>
    <img class="cover" src="{{ .Params.Cover | default "/images/default_cover.jpg" | relURL }}")>
    <div class="info">
      <div class="head">
        <h1 class="title"><a href="{{ .Params.externalLink | default .RelPermalink | relURL }}">{{ .Title }}</a></h1>
        {{ with .Params.BAuthors }}
        <div class="authors">
          <span>by</span>
          {{ range .}}
          <span class="author">{{ . }}</span>
          {{ end }}
        </div>
        {{ end }}
      </div>
      <ul class="meta-list">
        <li class="meta-item">
          <span class="mkey">Date Read:</span>
          <span class="date">{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
        </li>
        <li class="meta-item">
          <span class="mkey">ISBN:</span>
          <span class="isbn">{{ .Params.isbn | default "Not Available" }}</span>
        </li>
        <li class="meta-item">
          <span class="mkey">My Rating:</span>
          {{ $r := (.Params.rating | default -1 | int )}}
          {{ if and (ge $r 0) (le $r 10) }}
            {{ $s := "" }}
            {{ if le $r 4 }}
              {{ $s = "bad-review" }}
            {{ else if le $r 6 }}
              {{ $s = "medium-review" }}
            {{ else }}
              {{ $s = "good-review" }}
            {{ end }}
            <span class="rate {{$s}}">{{ $r }}/10</span>
          {{ else }}
          <span class="rate">None/10</span>
          {{ end }}
        </li>
        <li class="meta-item">
          <span class="mkey">Reading Time:</span>
          <span>{{ .ReadingTime }} Minute</span>
        </li>
        {{ with .Page.Params.Tags }}
          <li class="meta-item">
            <span class="mkey">Tags:</span>
            <span class="tags">
              {{ range $index, $el := . }}
                <span class="tag">
                  <a href="{{ ( printf "tags/%s/" ( . | urlize ) ) | relLangURL }}">#{{ . }}</a>
                </span>
              {{ end }}
            </span>
          </li>
        {{ end }}
      </ul>
    </div>
  </header>

  <div class="content-container">
    {{ .Content }}
  </div>
</article>
{{ partial "math.html" . }}
{{ end }}
